<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="../../js/vendors/anime.min.js" async></script><script src="../../js/main.js" async></script><noscript id="deferred-styles"><link rel="stylesheet" type="text/css" href="../../css/main.css"><link rel="stylesheet" type="text/css" href="../../css/min-width-768px-and-max-width-1024px.css" media="(min-width: 768px) and (max-width: 1024px)"><link rel="stylesheet" type="text/css" href="../../css/max-width-767px.css" media="(max-width: 767px)"></noscript><script>// defer CSS styles //
var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
    window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
else window.addEventListener('load', loadDeferredStyles);
// defer CSS styles //</script>